h1{
    text-align: center;
    background-color: aliceblue;
}
h3{
    text-align: center;
}


.screen{
    width: 60%;
    height: 400px;
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    border: 10px double black;

}
#display{
    font-size: 20px;
    margin: 0%;
    text-align: left;
}
input,textarea{
    border-radius: 10px;
    border: 5px black solid;
    text-align: center;
    margin : 20px;
    height: 30px;
    width: 400px;
    margin-left: 17%;
}