
h3{
    color: #a32d18;
    font-family: 'Itim', cursive;
    font-size: 30px;
}
h5{
    color: #572685;
    font-family: 'Itim', cursive;
    font-size: 15px;

}
#bloques{
    justify-content: center;
    margin-left: 5%;
    margin-right: auto;
    text-align:center;
    width: 70%; 
       
 }
#izquierda {
    float: left;
    width: 45%;
    margin: 1px;
    border-radius: 25%;
}
#derecha {
    float: right;
    width: 53%;
    margin: 1px;
    
}

#Carro{
    width: 45px; 
    height: 35px;
}

#Home{
    width: 45px; 
    height: 35px;
}

#Search{
    width: 45px; 
    height: 35px;
}
#Contact{
    width: 45px; 
    height: 35px;
}
#P1{
    width: 200px; 
    height: 200px;
    margin: 5px;
}
#P2{
    width: 200px; 
    height: 200px;
    margin: 5px;
    
}
#P3{
    width: 200px; 
    height: 200px;
    margin: 5px;
}
#P4{
    width: 200px; 
    height: 200px;
    margin: 5px;
}
#Productos{
    display: flex;
    margin-top: 10%;
    margin-left: 20%;
    text-align:center;

}


