
h3{
    color: #d4f0ed;
    font-family: 'Itim', cursive;
}
h5{
    color: #0cecda;
    font-family: 'Itim', cursive;
}
#bloques{
    justify-content: center;
    margin-left: 5%;
    margin-right: auto;
    text-align:center;
    width: 70%; 
       
 }
#izquierda {
    float: left;
    width: 45%;
    margin: 1px;
    border-radius: 25%;
}
#derecha {
    float: right;
    width: 53%;
    margin: 1px;
    
}

#Carro{
    width: 45px; 
    height: 35px;
}

#Home{
    width: 45px; 
    height: 35px;
}

#Search{
    width: 45px; 
    height: 35px;
}
#Contact{
    width: 45px; 
    height: 35px;
}
#P1{
    width: 100px; 
    height: 100px;
    margin: 5px;
}
#P2{
    width: 100px; 
    height: 100px;
    margin: 5px;
    
}
#P3{
    width: 100px; 
    height: 100px;
    margin: 5px;
}
#P4{
    width: 100px; 
    height: 100px;
    margin: 5px;
}
#Productos{
    display: flex;
    margin-top: 20%;
    margin-left: 20%;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.493);
    border-width: 3px;
    border-radius: 60px;

}


