h1{
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
    font-size: 30px;
    color: black;

}
h3{
    font-family: "Verdana", sans-serif;
    color:black;
}

#Carro{
    width: 45px; 
    height: 35px;
}

#Home{
    width: 45px; 
    height: 35px;
}

#Search{
    width: 45px; 
    height: 35px;
}
#Contact{
    width: 45px; 
    height: 35px;
}


#Logocarro{
    width: 45px; 
    height: 35px;

}
#form{
    float: left;
}
