
h1{
    background-color: bisque;
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
    font-size: 30px;
    color: black;
}
h2{
    color: #d4f0ed;
    font-family: 'Itim', cursive;
}
h4{
    color: #0cecda;
    font-family: 'Itim', cursive;
}

#izquierda {
    float: left;
    width: 45%;
    margin: 1px;
    border-radius: 25%;
}
#derecha {
    float: right;
    width: 53%;
    margin: 1px;
    
}

#Carro{
    width: 45px; 
    height: 35px;
}

#Home{
    width: 45px; 
    height: 35px;
}

#Login{
    width: 45px; 
    height: 35px;
}
#Contact{
    width: 45px; 
    height: 35px;
}

.container {
    display: flex;
}
.card-link {
    margin-top: 16px;
    margin-bottom: 16px;
    color: black;
    display: block;
}

.container {
    display: flex;
}

.viewport {
    margin: 10px auto 0;
}

.flip-card {
    display: block;
    position: relative;
    z-index: 1000;
    width: 250px;
    height: 330px;
    font-weight: bold;
    margin: 10px;
}

.flip-card .card-front,
.flip-card .card-back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 500ms;
    -o-transition: -o-transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    transition: transform 500ms;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.flip-card .card-front {
    -moz-transform: perspective(300) rotateY(0);
    -webkit-transform: perspective(300) rotateY(0);
    transform: perspective(300) rotateY(0);
    z-index: 900;
    box-shadow: 0 0 20px rgba(115, 113, 113, 0.94) inset;
    box-sizing: border-box;
    background-color: #fff;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF499BEA', endColorstr='#FF207CE5');
    background-size: 100%;
}

.flip-card .card-back {
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    z-index: 800;
}

.flip-card:hover .card-front {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: perspective(300) rotateY(180deg);
    -webkit-transform: perspective(300) rotateY(180deg);
    transform: perspective(300) rotateY(180deg);
}

.flip-card:hover .card-back {
    z-index: 950;
    transform: rotateY(0deg);
    transform: perspective(300) rotateY(0deg);
    box-shadow: 0 0 20px rgba(115, 113, 113, 0.94) inset;
    background-color: #fff;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF478CE0', endColorstr='#FF0263DB');
    background-size: 100%;
}

.flip-card .card-front,
.flip-card .card-back {
    border-radius: 10px;
    padding: 10px 0;
}