body {
    background-color: white;
}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(128, 175, 177);
    border-radius: 50px;
}
h3{
    color: #d4f0ed;
    font-family: 'Itim', cursive;
}
h5{
    color: #0cecda;
    font-family: 'Itim', cursive;
}
#bloques{
    justify-content: center;
    margin-left: 5%;
    margin-right: auto;
    text-align:center;
    width: 70%; 
       
 }
#izquierda {
    float: left;
    width: 45%;
    margin: 1px;
    border-radius: 25%;
    background:#b5ebeba1
}
#derecha {
    float: right;
    width: 53%;
    margin: 1px;
    
}

textarea {
    width: 40%;
    margin-top: auto;
    background-color: peachpuff;
    margin-left: 150px;
    font-weight: bold;
    line-height: 1;
    color: #666666;
    padding: 5px;
    border-radius: 10px;
    border: 2px outset #1e7f83;
    resize: none;
}
button {
    background-color: #af3773;
    opacity: 0.7;
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    font-size: 15px;
    margin-left: 200px;
    margin-top: 10px;
}
#Carro{
    width: 45px; 
    height: 35px;
}

#Home{
    width: 45px; 
    height: 35px;
}

#Search{
    width: 45px; 
    height: 35px;
}
#Contact{
    width: 45px; 
    height: 35px;
}


