body{
    background-color: aliceblue;
}
h3{
    text-align: center;
    margin-top: 20px;
    color: aqua;
}

button{
    background-color: rgb(145, 92, 177);
    color: white;
    padding: 3px 10px;
    margin-left: 42%;
    font-size: 30px;
    border-radius: 15px;
    border-width: 3px;
    border-color: white
}
.screen{
    width: 60%;
    height: 400px;
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    border: 10px double black;

}
#display{
    font-size: 20px;
    margin: 0%;
    text-align: left;
}
input,textarea{
    border-radius: 10px;
    border: 5px black solid;
    text-align: center;
    margin : 20px;
    height: 30px;
    width: 400px;
    margin-left: 17%;
}