body{
    background-color: aliceblue;
}
h3{
    text-align: center;
    margin-top: 20px;
    color: aqua;
}

button{
    background-color: rgb(145, 92, 177);
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border-radius: 15px;
    border-width: 3px;
    border-color: white
}
.screen{
    width: 60%;
    height: 400px;
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    border: 10px double black;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
