h1{
  text-align: center;
  background-color: rgba(202, 32, 32, 0.7);
  border-radius: 15px;
}

#right{
  float:right;
  width: 45%;
  background-color: rgba(209, 88, 88, 0.7);
  text-align: center;
  height: 660px;
  border-radius: 10px;
}

#btn_test{
  background-color: rgba(202, 32, 32, 0.7);
  border-radius: 15px;
  color:rgb(96, 39, 134);
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-width: 3px;
}

li{
 text-align: justify;
 font-size: 20px;
 font-weight:bold;
}

#info1,#info2,#info3,#info4,#info5,#info6{
  font-weight:lighter;
}

#left{
 float:left;
 width: 52%;
 background-color: rgba(209, 88, 88, 0.7);
 text-align: center;
 height: 660px;
 border-radius: 10px;
}


